<div class ="container text-center">
  <font size="7">本当に退会しますか？</font><br>
    <a>退会すると、会員登録情報や</a><br>
    <a>これまでの購入履歴が閲覧できなくなります。</a><br>
    <a>退会する場合は、「退会する」をクリックしてください。</a><br>
  <%= link_to "退会しない", my_page_customers_path,class: "btn btn-primary" %>
  <%= link_to "退会する", withdraw_customers_path,method: :patch, class: "btn btn-danger","data-confirm" => "本当に退会しますか?" %>
</div>