<div class="container">
  <h4><span style="background-color: silver;">分野編集</span></h4>
 <%= form_with model: @field, url: admin_field_path(@field.id) do |f| %><br>
<label for="inputGenre">分野名</label>
  <%= f.text_field :name, autofocus: true, id:"inputGenre" %>
  <%= f.submit "変更を保存する" ,class: "btn btn-success" %>
  <% end %>
</div>
