<div class="top-image">
  <div class="container text-center pt-5">
   <font size="6">reha_studyへようこそ！</font><br>
    <div class="row">
      <div class="col text-center pt-3 pb-5 ">
        <font size="4">
        reha_studyは誰でも勉強会に参加した感想を投稿し、<br>
        コメントができる場所です。<br>
        参加した勉強会で得る事ができた知識や技術を共有したり、<br>
        他のユーザーがどんな勉強会に参加しているのかを<br>
        知ることができます。<br>
        このサイトを通じて、参加してみたい勉強会が見つかるかも？<br>
        ぜひご活用下さい！<br>
        </font>
      </div>
    </div>
  </div>
</div>