<div class ="container text-center">
  <font size="7">reha_studyへようこそ！</font><br>
    <a>reha_studyは誰でも勉強会に参加した感想を投稿し、コメントができる場所です。</a><br>
    <a>参加した勉強会で得る事ができた知識や技術を共有したり、</a><br>
    <a>他のユーザーがどんな勉強会に参加しているのかを知ることができます。</a><br>
    <a>このサイトを通じて、参加してみたい勉強会が見つかるかも？</a><br>
    <a>ぜひご活用ください！</a><br>
</div>