<div class="top-image">
  <div class="container text-center pt-5">
   <font size="6">reha_studyへようこそ！</font><br>
    <div class="row">
      <div class="col text-center pt-5 ">
        <font size="4">
          <p>reha_studyは誰でも勉強会に参加した感想を投稿し、</p>
          <p>コメントやいいねができる場所です。</p>
          <p>参加した勉強会で学ぶ事ができた知識や技術などを</p>
          <p>共有したり、他のユーザーがどんな勉強会に</p>
          <p>参加しているのかを知ることができます。</p>
          <p>このサイトを通じて参加してみたい勉強会が</p>
          <p>見つかり、自身のスキルアップに繋がるかも？</p>
          <p>ぜひご活用下さい！</p>
        </font>
      </div>
    </div>
  </div>
</div>